<div class="x-container">
  <ol class="grid grid-cols-3 gap-2">
    {{#each @projects as |project|}}
      <li>
        <Hds::Card::Container @hasBorder={{true}} class="p-4">

          {{project.name}}
        </Hds::Card::Container>
      </li>
    {{/each}}
  </ol>
</div>
