<Header />

<div class="x-container">
  Active Published Drafts

</div>
{{! model changes on click }}
{{! docsAndDrafts pagination could be HdsPagination? }}
{{! Design will be based on the product landing page }}
{{log this.docsToShow}}
<RowResults @docs={{this.docsToShow}} />
