# /config.hcl
# /config_indexer.hcl
/hermes

# Google OAuth 2.0
/credentials.json
/token.json

# macOS & local
.DS_Store
.env
.idea

# Web application
node_modules
/web/.pnp.*
/web/.yarn/*
/web/dist

# Terraform related
.terraform
