/config.hcl
/hermes

# Build artifacts
/build/*
!/build/.gitkeep

# Google OAuth 2.0
/credentials.json
/token.json

# macOS & local
.DS_Store

# Environment variables (secrets)
.env
.env.local
.env.*.local
.env.development
.env.staging
.env.production
.env.test

# Web application
node_modules
/web/.pnp.*
/web/.yarn/*
/web/.eslintcache
/web/dist

# Test artifacts
*.test
*.out
coverage*.html
coverage*.out
test-output.log

# Terraform related
.terraform
