.x-dropdown-list-item {
  @apply flex;
}

.x-dropdown-list-item-link {
  // this should only have the extra right padding if it's checkable
  @apply flex w-full items-center py-[7px] pl-2.5 pr-8 text-body-200 text-color-foreground-primary no-underline;

  &.is-aria-selected {
    @apply bg-color-foreground-action text-color-foreground-high-contrast outline-none;

    .flight-icon {
      @apply text-inherit;
    }
  }

  &:not(.is-aria-selected) {
    .check {
      @apply text-color-foreground-action;
    }
  }

  .flight-icon {
    @apply shrink-0;

    .x-dropdown-list-item {
      @apply flex;
    }
  }

  .sort-icon {
    @apply mx-3;
  }
}

.x-dropdown-list-item-value {
  @apply w-full truncate whitespace-nowrap;
}

.x-dropdown-list-item-count {
  @apply ml-8 shrink-0;
}
