.x-dropdown-list-item {
  @apply flex;
}

.x-dropdown-list-item-link {
  @apply flex w-full items-center py-[7px] pl-2.5 pr-8 text-body-200 text-color-foreground-primary no-underline;

  &.is-aria-selected {
    @apply bg-color-foreground-action text-color-foreground-high-contrast outline-none;

    .flight-icon {
      @apply text-inherit;
    }
  }

  &:not(.is-aria-selected) {
    .check {
      @apply text-color-foreground-action;
    }
  }

  .flight-icon {
    @apply shrink-0;

    .x-dropdown-list-item {
      @apply flex;
    }
  }

  .sort-icon {
    @apply mx-3;
  }
}

.x-dropdown-list-item-value {
  @apply truncate;
}

.checkable-item {
  @apply grid;
  grid-template-columns: 16px auto 60px;

  &.checkmark-position--trailing {
    grid-template-columns: auto 60px 16px;

    .checkable-item-content {
      @apply order-1;
    }

    .checkable-item-count {
      @apply order-2;
    }

    .check {
      @apply order-3;
    }
  }
}
