.x-dropdown-list {
  @apply max-h-[410px];

  &.hds-dropdown__content {
    @apply min-w-[175px];
  }

  &.non-floating-list {
    @apply relative w-full max-w-none;

    .x-dropdown-list-container {
      @apply h-full rounded-none;
    }

    .x-dropdown-list-scroll-container {
      @apply rounded-none;
    }

    .x-dropdown-list-items {
      @apply pb-4;
    }
  }

  &.theme--neutral {
    .x-dropdown-list-item-link {
      @apply text-inherit;

      &:not(.is-aria-selected) {
        .check {
          @apply text-inherit;
        }
      }

      &.is-aria-selected {
        @apply bg-color-surface-interactive-hover;
        @apply text-inherit;

        .doc-status-fade {
          @apply from-color-surface-interactive-hover;
        }

        .flight-icon {
          @apply text-inherit;
        }
      }
    }
  }
}

.x-dropdown-list-container {
  @apply flex flex-col overflow-hidden rounded-md;
}

.x-dropdown-list-default-loading-container {
  @apply mt-2 mb-4 grid h-[20px] w-full place-items-center;
}

.x-dropdown-list-input-container {
  @apply relative border-b border-b-color-border-faint p-1;
}

.x-dropdown-list-scroll-container {
  @apply relative w-full overflow-auto rounded-b-md;
}

.x-dropdown-list-default-empty-state {
  @apply p-12 text-center text-color-foreground-faint;
}

.x-dropdown-list-items {
  @apply pt-1 pb-1.5;
}
