.x-dropdown-list {
  @apply max-h-[410px];

  &.hds-dropdown__content {
    @apply min-w-[175px];
  }

  &.non-floating-list {
    @apply w-full relative max-w-none;
  }

  &.secondary {
    .x-dropdown-list-item-link {
      &.is-aria-selected {
        @apply bg-color-surface-interactive-hover;

        .flight-icon {
          @apply text-inherit;
        }
      }
    }
  }
}

.x-dropdown-list-container {
  @apply flex flex-col overflow-hidden rounded-md;
}

.x-dropdown-list-default-loading-container {
  @apply w-full grid place-items-center h-[20px] mt-2 mb-4;
}

.x-dropdown-list-input-container {
  @apply relative p-1 border-b border-b-color-border-faint;
}

.x-dropdown-list-scroll-container {
  @apply overflow-auto w-full relative rounded-b-md;
}

.x-dropdown-list-default-empty-state {
  @apply p-12 text-center text-color-foreground-faint;
}

.x-dropdown-list-items {
  @apply pt-1 pb-1.5;
}
