<div
  data-test-product-select-item
  class="relative flex w-full items-center"
  ...attributes
>
  <FlightIcon
    data-test-product-select-item-icon
    data-test-icon={{or (get-product-id @product) "folder"}}
    @name={{or (get-product-id @product) "folder"}}
    class="mr-2.5"
  />

  <span data-test-product-select-item-value class="flex leading-none">
    {{@product}}
  </span>

  {{#if @abbreviation}}
    <span
      data-test-product-select-item-abbreviation
      class="ml-2.5 inline-flex text-body-100 leading-none text-color-foreground-disabled"
    >
      {{@abbreviation}}
    </span>
  {{/if}}

  {{#if @isSelected}}
    <FlightIcon
      data-test-product-select-item-selected
      @name="check"
      class="check absolute right-0 top-1/2 -translate-y-1/2"
    />
  {{/if}}
</div>
