{{!  @glint-nocheck - not typesafe yet }}
<div class="relative flex w-full product-select-item">
  <FlightIcon @name={{or (get-product-id @product) "folder"}} />
  <span class="flex ml-2.5 leading-none">
    {{@product}}
  </span>
  {{#if @abbreviation}}
    <span class="opacity-50 inline-flex ml-2 text-body-100 leading-none">
      {{@abbreviation}}
    </span>
  {{/if}}
  {{#if @selected}}
    <FlightIcon
      @name="check"
      class="check absolute right-0 top-1/2 -translate-y-1/2"
    />
  {{/if}}
</div>
