<div
  data-test-product-select-item
  class="relative flex items-center w-full gap-2 items-center"
  ...attributes
>
  <ProductAvatar @productArea={{@product}} class="relative -translate-x-px" />

  <div class="flex items-center gap-1.5">

    {{#if @product}}
      <span data-test-selected-value>
        {{@product}}
      </span>
    {{else}}
      <EmptyStateText @text="None selected" />
    {{/if}}

    {{#if @abbreviation}}
      <span class="product-select-toggle-abbreviation">
        {{@abbreviation}}
      </span>
    {{/if}}
  </div>

  {{#if @isSelected}}
    <FlightIcon
      data-test-product-select-item-selected
      @name="check"
      class="check absolute right-0 top-1/2 -translate-y-1/2"
    />
  {{/if}}
</div>
