{{#if this.isShown}}
  <Hds::Alert
    data-test-new-features-banner
    @type="inline"
    @color="highlight"
    {{! Icon is hidden by CSS; See `dashboard.scss` }}
    @onDismiss={{this.dismiss}}
    class="mb-10"
    as |A|
  >
    <A.Title>
      <strong>Migration Notice:</strong> Hermes migration to SharePoint will commence on January 23rd, 2026. 
      Following this date, the current system will operate in read-only mode, preventing new document creation and metadata updates. 
      To ensure data integrity, please refrain from modifying document content during the migration period.
      It is recommended to start using the new <a href="https://hermes-sharepoint.hashicorp.services/" target="_blank" rel="noopener noreferrer">SharePoint-backed Hermes →</a>
    </A.Title>
  </Hds::Alert>
{{/if}}
