{{#if this.isShown}}
  <Hds::Alert
    @type="inline"
    @color="highlight"
    @icon="gift"
    @onDismiss={{this.dismiss}}
    class="mt-6 mb-10"
    as |A|
  >
    <A.Title>New editor features.</A.Title>
    <A.Description>
      <ul>
        <li><strong>Related resources:</strong>
          Attach content to your doc such as other Hermes documents or external
          links.</li>
        <li><strong>Shareable drafts:</strong>
          You can now set your draft “shareable” to generate an org-friendly
          link.</li>
      </ul>
    </A.Description>
  </Hds::Alert>
{{/if}}
