{{! @glint-nocheck: not typesafe yet }}
{{#if this.isShown}}
  <Hds::Alert
    @type="inline"
    @color="highlight"
    @icon="gift"
    @onDismiss={{this.dismiss}}
    class="mt-6"
    as |A|
  >
    <A.Title>New features available</A.Title>
    <A.Description>
      <ul>
        <li>You can now create RFC, PRD, and FRD drafts!</li>
        <li>Send a RFC, PRD, and FRD document for review. Hermes will
          automatically email the approvers!</li>
        <li>Approvers can now approve documents through Hermes.</li>
        <li>Archive documents by marking them "obsolete". </li>
      </ul>
    </A.Description>
    <A.Link::Standalone
      @icon="arrow-right"
      @iconPosition="leading"
      @text="Create a document draft"
      @route="authenticated.new"
    />
  </Hds::Alert>
{{/if}}
