{{#if this.isShown}}
  <Hds::Alert
    data-test-sidebar-migration-banner
    @type="inline"
    @color="critical"
    class="sidebar-migration-banner"
    as |A|
  >
    <A.Title>
      <strong>Important Notice:</strong> Hermes has been migrated to SharePoint.
      <br><br>
      <strong>Read-Only Mode:</strong>Please do not update any existing Hermes documents.
      <br><br>
      Access New Hermes: <a href="https://hermes-sharepoint.hashicorp.services" target="_blank" rel="noopener noreferrer" class="sidebar-migration-link">here</a>
      <br>
      FAQ: <a href="https://ibm.sharepoint.com/:w:/r/sites/hermes/_layouts/15/Doc.aspx?sourcedoc=%7B85D502DB-35E8-4239-A891-C77D7EC3A4D3%7D&file=Hermes_Support_Documentation.docx&action=default&mobileredirect=true" target="_blank" rel="noopener noreferrer" class="sidebar-migration-link">here</a>
    </A.Title>
  </Hds::Alert>
{{/if}}
