<div class="sidebar-section-header-container">
  <div class="sidebar-section-header">
    {{@title}}
  </div>
  {{#if @buttonAction}}
    <Action
      {{on "click" this.buttonAction}}
      class="sidebar-section-header-button"
      aria-label={{@buttonLabel}}
    >
      <FlightIcon @name={{or @buttonIcon "plus"}} />
    </Action>
  {{/if}}
</div>
