{{page-title "Admin"}}

<div class="x-container">

  <nav class="admin-nav">
    <h2 class="text-display-500 font-bold opacity-40">Add new...</h2>
    <LinkTo
      class="text-display-500 font-bold"
      @route="authenticated.admin.product-areas"
      @current-when="authenticated.admin.product-areas"
    >
      Product/Area
    </LinkTo>
    <LinkTo
      class="text-display-500 font-bold"
      @route="authenticated.admin.doc-types"
      @current-when="authenticated.admin.doc-types"
    >
      DocType
    </LinkTo>
  </nav>

  {{outlet}}

</div>
