{{page-title "Admin"}}
{{set-body-class "secondary-screen admin"}}

<div class="">
  <div class="flex h-screen gap-6 bg-color-palette-neutral-700">

    <nav class="flex w-[270px] shrink-0 flex-col">
      <div
        class="relative mb-10 flex w-full shrink-0 items-center justify-between pt-6 pl-6"
      >
        <LinkTo @route="authenticated.dashboard">
          <HermesLogo />
        </LinkTo>
        <Hds::Badge
          @text="Admin panel"
          @type="outlined"
          @color="highlight"
          class="mix-blend-normal"
          {{! @size="large" }}
        />

      </div>
      <div class="flex h-full flex-col pl-6">

        {{! ⪽⊚♫TR◌L_cℇNℸ℮ℜ }}
        <ul class="nav-links flex h-full flex-col">
          <li>
            <LinkTo
              @current-when="authenticated.admin.product-areas"
              @route="authenticated.admin.product-areas"
            >
              <FlightIcon @name="tag" />
              New product/area
            </LinkTo>
          </li>
          <li>
            <LinkTo
              @current-when="authenticated.admin.doc-types"
              @route="authenticated.admin.doc-types"
            >
              <FlightIcon @name="files" />
              New doctype
            </LinkTo>
          </li>
          <li>
            {{! placeholder }}
            <LinkTo @route="authenticated.admin.index">
              <FlightIcon @name="identity-user" />
              New admin
            </LinkTo>
          </li>
        </ul>

        {{!-- <LinkTo @route="authenticated.dashboard" class="mb-4">
          <FlightIcon @name="hashicorp" class="text-color-white h-8 w-8" />
          {{! <HermesLogo /> }}
        </LinkTo> --}}
      </div>
    </nav>

    {{! TODO: scrollable... iframe? }}
    <div class="w-full bg-color-surface-faint py-0">
      <div class="h-full overflow-scroll px-20 py-14">
        {{outlet}}
      </div>
    </div>

  </div>
</div>
