{{page-title "Admin"}}

<div class="x-container">

  <nav class="admin-nav">
    <LinkTo
      class="text-display-500 font-bold"
      @route="authenticated.admin.documents"
      @current-when="authenticated.admin.documents"
    >
      Documents
    </LinkTo>
    <LinkTo
      class="text-display-500 font-bold"
      @route="authenticated.admin.projects"
      @current-when="authenticated.admin.projects"
    >
      Projects
    </LinkTo>
    <LinkTo
      class="text-display-500 font-bold"
      @route="authenticated.admin.users"
      @current-when="authenticated.admin.users"
    >
      Users
    </LinkTo>
    <LinkTo
      class="text-display-500 font-bold"
      @route="authenticated.admin.doc-types"
      @current-when="authenticated.admin.doc-types"
    >
      DocTypes
    </LinkTo>
  </nav>

  {{outlet}}

</div>
