{{page-title "All Documents"}}

{{! TODO: move this into a shared component }}
<header class="mb-7 border-b border-b-color-border-faint bg-color-page-faint">
  <Header::Nav />
</header>
{{#if @model.facets}}
  <div class="x-container mb-8">
    <div
      class="header-nav-and-filters flex w-full items-center justify-between"
    >
    </div>
    <Header::ActiveFilterList />
  </div>
{{/if}}

<Documents
  @facets={{@model.facets}}
  @results={{@model.results}}
  @sortedBy={{@model.sortedBy}}
/>
