.footer {
  @apply mt-12 mb-16 w-full text-body-200 text-color-foreground-faint;

  .footer-inner {
    @apply border-t border-t-color-border-primary pt-6 flex w-full items-center justify-between;
  }

  &.compact {
    @apply mt-6;

    .x-container {
      @apply px-0;
    }

    .footer-inner {
      @apply border-t-0;
    }
  }
}
