.jira-widget {
  > .inner {
    &:hover,
    &:focus,
    &:focus-within {
      .click-area {
        @apply block;
      }
    }
  }

  .click-area {
    @apply absolute -top-1.5 -left-2.5 -bottom-2 -right-2 hidden rounded-button-md bg-color-page-primary shadow-surface-low;
  }

  .quarternary-input-button {
    @apply py-0 pl-[8px] pr-[14px];
  }

  .jira-input {
    // we use a custom search icon for this
    @apply bg-none;
  }

  .search-input-icon {
    --scaleInFrom: 0.75;
    animation: scaleIn 600ms cubic-bezier(0, 1, 0.5, 1) forwards;
  }
}

.attached-jira-issue {
  @apply relative grid items-center gap-2.5;
  grid-template-columns: 16px 1fr min-content;
}
