// This is built on ember-power-select
.multiselect {
  min-width: 300px;
  background-image: var(--token-form-select-background-image-data-url);
  background-position: right
    var(--token-form-select-background-image-position-right-x) top
    var(--token-form-select-background-image-position-top-y);
  background-size: var(--token-form-select-background-image-size);
  background-repeat: no-repeat;
  box-shadow: var(--token-elevation-low-box-shadow);
  @apply p-1;

  &--narrow {
    min-width: 0;
  }

  &.ember-power-select-trigger,
  &.ember-power-select-trigger-multiple-input {
    line-height: 1;
    @apply h-auto min-h-[36px];
  }

  &:hover,
  &.mock-hover {
    border-color: var(--token-form-control-base-border-color-hover);
  }

  &:focus,
  &.mock-focus {
    border-color: var(--token-color-focus-action-internal);
    outline: 3px solid var(--token-color-focus-action-external);
    outline-offset: 0px;
  }

  .ember-power-select-status-icon {
    display: none;
  }

  .ember-power-select-multiple-options {
    @apply flex flex-wrap h-full mr-6;
  }

  .ember-power-select-trigger-multiple-input {
    min-width: 80px;

    &::-webkit-search-cancel-button {
      display: none;
    }
  }

  .ember-power-select-multiple-option {
    @apply flex items-center px-0 m-0.5 max-w-[100%] relative pr-7 pl-1.5 py-1 border-0;

    .ember-power-select-multiple-remove-btn {
      @apply absolute right-1 grid place-items-center h-5 w-5 shrink-0 z-10 rounded-sm text-color-foreground-primary pb-px;

      &:hover {
        @apply bg-neutral-200;
      }

      &:focus,
      &:active {
        outline: 2px solid var(--token-color-focus-action-internal);
      }
    }
  }
}
