.new {
  .new-form {
    @apply mx-auto mt-2 max-w-xl;

    h1 {
      @apply text-center text-display-400;
    }
  }

  button[type="submit"] {
    @apply mt-8;
  }

  .footer {
    @apply mt-24;
  }

  .feature-icon {
    --slideUpFrom: 4px;
    animation: slideUp 1500ms cubic-bezier(0, 1, 0.5, 1);
  }
}
