.notifications-container {
  @apply fixed;
  z-index: 20;
  bottom: 8px;
  right: 8px;
}

.notification {
  // Animation example taken from: https://github.com/adopted-ember-addons/ember-cli-flash#animated-example
  opacity: 0;

  transition: all 700ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin: 16px;

  &.active {
    opacity: 1;
    @apply left-2;

    &.exiting {
      opacity: 0;
      @apply left-0;
    }
  }
}
