.row-results {
  @apply w-full;

  .hds-table {
    @apply mb-8 table-auto lg:table-fixed;
    @apply border-0;

    &__th,
    &__td {
      @apply leading-6;

      &.name {
        @apply w-auto;
        @apply pl-0;
      }

      &.type {
        @apply w-24;
      }

      &.status {
        @apply w-32;
      }

      &.product {
        @apply w-40;
      }

      &.owner {
        @apply w-48;
      }

      &.created {
        @apply w-28 text-right;
        @apply pr-0;
      }
    }

    .hds-table__thead .hds-table__tr {
      @apply bg-transparent;
    }

    .hds-table__thead .hds-table__tr .hds-table__th {
      &.name {
        @apply pl-0;
      }
      &.created {
        @apply text-right;
        @apply pr-0;
      }
    }
  }

  .sort-icon {
    @apply absolute -left-1.5 top-1/2 flex -translate-y-1/2 -translate-x-full;
  }
}

@keyframes sortIconIn {
  from {
    transform: translateX(2px);
  }
}

.sortable-table-header {
  @apply relative;

  .sort-icon {
    @apply text-color-foreground-faint;
  }

  &:not(.active) {
    &:hover,
    &:focus-within {
      .sort-icon {
        @apply visible;
        > .flight-icon {
          animation: sortIconIn 85ms ease-in;
        }
      }
    }
    .sort-icon {
      @apply invisible text-color-foreground-disabled;
    }
  }
}
