.sidebar {
  @apply relative z-10 flex max-h-full flex-col pb-4;

  &.collapsed {
    @apply w-16;

    .sidebar-header {
      @apply relative h-full flex-col px-0;
    }

    .sidebar-dashboard-link {
      @apply absolute left-1/2 bottom-4 -translate-x-1/2;
    }

    .sidebar-header-icon-controls {
      @apply flex-col-reverse items-center space-y-2 space-y-reverse;
    }
  }

  .editable-field-container {
    @apply mt-[3px];
  }

  .sidebar-header {
    @apply sticky top-0 z-10 flex justify-between bg-color-page-faint px-3.5 py-4;

    &.scrolled {
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, 15%);
    }
  }

  .sidebar-header-button {
    @apply relative flex items-center rounded-button-md border border-transparent py-2 px-3 text-color-foreground-primary;

    &:hover {
      @apply border-color-border-strong bg-color-foreground-high-contrast;
    }

    @keyframes slideDownAndRotateLeft {
      to {
        transform: translateY(18px) rotate(-360deg);
      }
    }

    &.out {
      animation: fadeOut 50ms ease-out 200ms forwards,
        slideDownAndRotateLeft 250ms ease-out forwards;
    }
  }

  .draft-visibility-button {
    @apply px-2.5;
    // match the height of the header buttons
    @apply h-[38px];
    // offset the extra height relative to the badge
    @apply my-[-7px];

    [class*=" flight-icon-chevron"] {
      @apply ml-px -mr-px;
    }
  }

  .sidebar-header-icon-controls {
    @apply flex;

    .sidebar-header-button {
      &::hover {
        @apply border-transparent  bg-color-surface-interactive-hover;
      }
    }
  }

  .sidebar-body {
    @apply relative h-full overflow-y-scroll;

    .product-badge {
      @apply top-0 h-7 w-9 rounded-r;
    }

    .sidebar-body-container {
      @apply space-y-8 pt-14 pb-10 pl-7 pr-3;
    }

    /* Style the scrollbar for Chrome, Safari, and Opera. */
    &::-webkit-scrollbar {
      @apply w-4 bg-transparent;
    }

    &::-webkit-scrollbar-thumb {
      @apply min-h-[40px] rounded-t-full rounded-b-full border-[4.5px] border-solid border-transparent bg-color-palette-neutral-300 bg-clip-padding;

      &:hover {
        @apply bg-color-palette-neutral-400;
      }
    }

    /* Style the scrollbar Firefox */
    scrollbar-color: var(--token-color-palette-neutral-300) transparent;
  }

  .sidebar-section-header-container {
    @apply flex w-full items-center justify-between;
  }

  .sidebar-section-header {
    @apply hds-foreground-faint text-body-100 font-regular;
  }

  .sidebar-section-header-button {
    @apply grid place-items-center rounded border border-transparent;
    @apply h-[26px] w-[26px];
    @apply -mr-0.5;

    &:hover {
      @apply border-color-border-strong;
    }
  }

  .primary-textarea {
    @apply min-h-[76px];
  }

  .person-list {
    @apply w-full space-y-2;
  }

  .sidebar-footer {
    @apply w-full shrink-0 bg-color-page-faint py-4 px-3.5;

    &.locked {
      @apply pt-0;
    }
  }
}
