:root {
  --bodyAndFooterHeight: calc(
    100% - var(--documentSidebarHeaderHeight) -
      var(--documentSidebarPaddingBottom)
  );
}

.sidebar {
  @apply flex flex-col outline outline-blue-400 relative z-10 shrink-0;

  // add pb-4 back

  @apply w-full;
  @apply md:w-72;

  &.collapsed {
    @apply w-16;

    .sidebar-header {
      @apply flex-col px-0 relative h-full;
    }

    .sidebar-dashboard-link {
      @apply absolute left-1/2 -translate-x-1/2 bottom-4;
    }

    .sidebar-header-icon-controls {
      @apply items-center space-y-2 space-y-reverse flex-col-reverse;
    }
  }

  .sidebar-header {
    @apply sticky top-0 bg-color-page-faint flex justify-between z-10;

    @apply overflow-visible;

    @apply px-1;
    @apply md:px-3.5;

    @apply pt-1 pb-0.5;
    @apply md:py-4;

    @apply h-[var(--documentSidebarHeaderHeight)];
    @apply md:h-auto;

    &.scrolled {
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, 15%);
    }
  }

  .sidebar-header-button {
    @apply relative rounded-button-md py-2 px-3 flex items-center border border-transparent text-color-foreground-primary;

    &:hover {
      @apply border-color-border-strong bg-color-foreground-high-contrast;
    }

    @keyframes slideDownAndRotateLeft {
      to {
        transform: translateY(18px) rotate(-360deg);
      }
    }

    &.out {
      animation: fadeOut 50ms ease-out 200ms forwards,
        slideDownAndRotateLeft 250ms ease-out forwards;
    }

    &.toggle-collapsed-button {
      @apply hidden md:flex;
    }
  }

  .sidebar-body-and-footer {
    @apply flex flex-col outline outline-red-400 bg-yellow-50;

    @apply absolute;
    @apply md:relative;

    @apply h-auto max-h-screen z-10;
    @apply md:h-[var(--bodyAndFooterHeight)];
  }

  .sidebar-body {
    @apply block relative overflow-y-scroll h-full;

    .product-badge {
      @apply rounded-r w-9 h-7 top-0;
    }

    .sidebar-body-container {
      @apply pt-14 pb-10 pl-7 pr-3 space-y-8;
    }

    /* Style the scrollbar for Chrome, Safari, and Opera. */
    &::-webkit-scrollbar {
      @apply w-4 bg-transparent;
    }

    &::-webkit-scrollbar-thumb {
      @apply border-solid min-h-[40px] border-[4.5px] border-transparent bg-color-palette-neutral-300 rounded-t-full rounded-b-full bg-clip-padding;

      &:hover {
        @apply bg-color-palette-neutral-400;
      }
    }

    /* Style the scrollbar Firefox */
    scrollbar-color: var(--token-color-palette-neutral-300) transparent;
  }

  .draft-visibility-button {
    @apply px-2.5;
    // match the height of the header buttons
    @apply h-[38px];
    // offset the extra height relative to the badge
    @apply my-[-7px];

    [class*=" flight-icon-chevron"] {
      @apply ml-px -mr-px;
    }
  }

  .sidebar-header-icon-controls {
    @apply flex;

    .sidebar-header-button {
      &::hover {
        @apply border-transparent  bg-color-surface-interactive-hover;
      }
    }
  }

  .sidebar-section-header-container {
    @apply w-full flex items-center justify-between;
  }

  .sidebar-section-header {
    @apply text-body-100 hds-foreground-faint font-regular;
  }

  .sidebar-section-header-button {
    @apply grid place-items-center rounded border border-transparent;
    @apply w-[26px] h-[26px];
    @apply -mr-0.5;

    &:hover {
      @apply border-color-border-strong;
    }
  }

  .primary-textarea {
    @apply min-h-[76px];
  }

  .person-list {
    @apply w-full space-y-2;
  }

  .sidebar-footer {
    @apply w-full h-[var(--documentSidebarHeaderHeight)] bg-color-page-faint shrink-0 py-4 px-3.5;

    &.locked {
      @apply pt-0;
    }
  }
}
