{{! either linkTos or external links }}

<div class="p-2.5 w-full bg-yellow-100 rounded flex justify-between">
  <div>

    <img src={{this.faviconURL}} />
    {{! LinkTo or External Link  }}
    <ExternalLink href={{@resource}}>
      {{@resource}}
    </ExternalLink>
  </div>
  {{! button to delete it from the document }}
  <Action {{on "click" this.removeResource}}>
    <FlightIcon @name="x" />
  </Action>
</div>
