{{! @glint-nocheck: not typesafe yet }}
{{page-title "DocVault"}}
<div id="dialog-container" class="dialog-container"></div>

<Notification />

<div class="flex flex-col min-h-screen">
  {{outlet}}
</div>

<Modals />
