{{page-title "Grass"}}
{{set-body-class "grass"}}

<div class="mx-auto w-full max-w-sm mt-24">
  <Inputs::DocumentSelect1 />
  <br />
  <Inputs::DocumentSelect2 />
  <br />
  <Inputs::DocumentSelect3 />
</div>
