{{#unless @hideProgress}}
  <ol
    class="doc-state doc-state--{{this.dasherizedName}}
      grid w-full list-none grid-cols-3 items-center gap-0.5"
  >
    <li class="progress-bar"></li>
    <li class="progress-bar"></li>
    <li class="progress-bar"></li>
  </ol>
{{/unless}}

<Hds::Badge
  @text={{this.state.label}}
  @color={{this.state.color}}
  class="whitespace-nowrap"
  ...attributes
/>
