{{#unless @hideProgress}}
  <ol
    class="doc-state doc-state--{{this.dasherizedName}}
      grid grid-cols-3 w-full items-center list-none gap-0.5"
  >
    <li class="progress-bar"></li>
    <li class="progress-bar"></li>
    <li class="progress-bar"></li>
  </ol>
{{/unless}}

<Hds::Badge
  @text={{this.state.label}}
  @color={{this.state.color}}
  class="whitespace-nowrap"
/>
