<div class="x-hds-tab {{if @isSelected 'x-hds-tab--selected'}}">
  <button {{on "click" @action}} class="x-hds-tab--button">
    <FlightIcon @name={{@icon}} />
    <span>{{@label}}</span>
  </button>
</div>
