.active-filter-list {
  @apply mb-6 flex items-start;

  h3 {
    @apply mr-4 flex h-[30px] shrink-0 items-center font-semibold;
  }

  .active-filter-list-container {
    @apply flex min-h-[30px] flex-wrap items-center;
  }

  .clear-all-link {
    @apply ml-2 flex h-[30px] shrink-0 items-center text-color-foreground-faint no-underline;

    &:hover {
      @apply text-color-foreground-strong;
    }
  }
}
