<div class="mb-8 flex w-full items-center">

  <div class="relative flex items-center">
    <LinkTo @route="authenticated.my">
      <Person::Avatar
        @imgURL={{this.authenticatedUser.info.picture}}
        @email={{this.authenticatedUser.info.name}}
        {{! TODO: make this large }}
        @size="medium"
        class="mr-6 -ml-0.5"
      />
    </LinkTo>
  </div>

  <div class="sub-nav">
    <LinkTo
      @route="authenticated.my.index"
      @current-when="authenticated.my.index"
    >
      Recent
    </LinkTo>
    <LinkTo
      @route="authenticated.my.documents"
      @current-when="authenticated.my.documents"
    >
      Published
    </LinkTo>
    <LinkTo
      @route="authenticated.my.drafts"
      @current-when="authenticated.my.drafts"
    >
      Drafts
    </LinkTo>
  </div>

</div>
