{{! @glint-nocheck: not typesafe yet }}
{{#unless (eq this.currentRouteName "authenticated.document")}}
  <div class="footer">
    <div class="x-container">
      <div
        class="text-body-200 text-color-foreground-faint flex items-center justify-center"
      >
        {{!-- © --}}
        {{this.currentYear}}
        Razorpay
        <div class="mx-2">•</div>
        <ExternalLink
          href="https://github.com/razorpay/hermes"
          class="flex"
        >
          View DocVault on GitHub
        </ExternalLink>
      </div>
    </div>
  </div>
{{/unless}}
