<div ...attributes {{did-insert this.serializeUsers.perform}}>
  {{yield
    (hash
      updateUsers=this.updateUsers
      users=this.serializedUsers
      isLoading=this.isLoading
    )
  }}
</div>
