<div ...attributes {{did-insert this.serializeUsers.perform}}>
  {{!

    How does this get updates from other components?

   }}
  {{yield
    (hash
      onChange=this.onChange
      onCancel=this.onCancel
      onSave=this.onSave
      users=this.index
      emails=this.emails
      isLoading=this.isLoading
    )
  }}
</div>
