{{! @glint-nocheck: not typesafe yet }}
<div
  class="hermes-logo"
  ...attributes
>
  <FlightIcon @name="hashicorp" @size="24" />
  <div class="hermes-logo-divider"></div>
  <div class="hermes-logo-text">
    Hermes
  </div>
</div>
