{{! @glint-nocheck: not typesafe yet }}
<div class="hermes-logo logo-container" ...attributes>
  {{!-- <FlightIcon @name="hashicorp" @size="24" /> --}}
  <img src="images/logo.png" alt="Your Image Alt Text" class="chakra-icon css-1xy62lf logo-img" />
  <div class="hermes-logo-divider"></div>
  <div class="hermes-logo-text">
    DocVault
  </div>
</div>
