<span
  data-test-tooltip-icon-trigger
  data-test-icon={{this.icon}}
  {{tooltip @text class="max-w-[200px]"}}
  class="flex text-color-foreground-faint hover:text-color-foreground-primary"
  ...attributes
>
  <FlightIcon @name={{this.icon}} />
</span>
