<div
  class="inline-flex cursor-default items-center gap-2 text-color-foreground-disabled"
  {{tooltip
    "A project is a public collection of documents and links organized around an effort."
    class="w-[260px]"
    placement="bottom-end"
    offset=(hash mainAxis=8 crossAxis=10)
  }}
  ...attributes
>
  <div class="border-b border-dotted border-b-color-border-strong">
    Whatʼs a project?
  </div>
</div>
