.doc-tile-title {
  @apply text-display-200 font-semibold text-color-foreground-strong overflow-hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}
