.doc-tile-title {
  @apply overflow-hidden text-display-200 font-semibold text-color-foreground-strong;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.tile {
  .vertical-line {
    @apply text-color-foreground-faint opacity-50;
  }

  .tags {
    @apply flex shrink-0 gap-1;
  }

  h3 {
    @apply text-display-300 text-color-foreground-strong;
  }

  a {
    @apply pointer-events-auto;
  }
}
