{{#if this.modalIsShown}}
  <Hds::Modal data-test-doc-created-modal as |M|>
    <M.Header>
      <div class="flex items-center">
        <FlightIcon
          @name="check-circle-fill"
          class="text-color-palette-green-200 mr-2"
        />
        Doc Created!
      </div>
    </M.Header>
    <M.Body>
      <p class="text-body-300">
        Youʼll be notified about @mentions, threads involving you, and tasks
        assigned to you. To subscribe to all comments,
        <Hds::Link::Inline
          @icon="external-link"
          @iconPosition="trailing"
          @isHrefExternal={{true}}
          @href="https://support.google.com/docs/answer/91588"
        >manage your notifications</Hds::Link::Inline>
        on Google.
      </p>
      <p class="text-color-foreground-faint mt-3 mb-1">We expect to make this
        easier in the future.</p>
    </M.Body>
    <M.Footer as |F|>
      <div class="flex space-x-6 items-center">
        <Hds::Button
          data-test-doc-created-modal-button
          @text="Continue to doc"
          {{on "click" this.close}}
        />
        <Hds::Form::Checkbox::Field
          data-test-doc-created-modal-checkbox
          {{on "click" this.toggleChecked}}
          as |F|
        >
          <F.Label>
            Donʼt show this again
          </F.Label>
        </Hds::Form::Checkbox::Field>
      </div>
    </M.Footer>
  </Hds::Modal>
{{/if}}
