<Action
  class="more-button"
  {{on "click" this.togglePopover}}
  {{did-insert this.didInsertTrigger}}
>
  <FlightIcon @name="more-vertical" class="text-color-foreground-faint" />
</Action>

{{#if this.popoverIsShown}}
  <div
    class="popover more-popover overflow-hidden"
    {{dismissible dismiss=this.togglePopover related=this.trigger}}
  >
    <Action
      {{on "click" (fn @removeResource @resource)}}
      class="py-1.5 pl-3 pr-3.5 flex space-x-1 text-color-foreground-critical hover:bg-color-surface-critical rounded-sm"
    >
      <FlightIcon @name="trash" class="text-inherit" />
      <span>Remove</span>
    </Action>
  </div>
{{/if}}
