{{#maybe-in-element (html-element '.ember-application') renderInPlace=this.shouldRenderInPlace insertBefore}}
    <div
    {{will-destroy this.cleanup}}
    {{did-insert this.didInsert}}
    id="popover-{{this.id}}"
    class="hermes-popover"
    ...attributes
  >
    {{yield}}
  </div>
{{/maybe-in-element}}
