@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-forwards {
  animation: fadeIn 450ms forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out-forwards {
  animation: fadeOut 450ms forwards;
}

// For a custom scaleIn, define `--scaleInFrom` in the element's style attribute.
// For example: .classToAnimate { --scaleInFrom: 0.5; animation: scaleIn 50ms; }
@keyframes scaleIn {
  from {
    transform: scale(var(--scaleInFrom, 0.95));
  }
  to {
    transform: scale(1);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(var(--slideUpFrom, 1.5px));
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDownXs {
  from {
    transform: translateY(-1.5px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideLeftPx {
  from {
    transform: translateX(1px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(var(--slideFromLeft, -1.5px));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(var(--slideToLeft, -1.5px));
  }
}

.slide-from-left-forwards {
  animation: slideFromLeft 450ms ease-out forwards;
}

.slide-to-left-forwards {
  animation: slideToLeft 450ms ease-out forwards;
}
