@use "variables" as v;

h3 {
  @apply text-color-foreground-strong;
}

.hermes-form-label {
  @apply flex text-body-200 font-semibold text-color-foreground-strong;

  + .hermes-form-helper-text {
    @apply mt-1;
  }
}

.hermes-form-helper-text {
  @apply text-body-100;
}

.hermes-h-300 {
  @apply text-display-300 font-semibold text-color-foreground-strong;
}

.hermes-h4 {
  @apply text-blue-gray text-body-100 font-medium uppercase tracking-wide;
}

.truncated-text-container {
  @apply block text-body-100 font-regular text-color-foreground-faint;

  // These classes are applied by the TruncatedText component
  // based on its optional `startingBreakpoint` argument:

  &.default {
    @apply truncate;
  }

  &.starting-breakpoint-md {
    @media (min-width: v.$screen-md) {
      @apply truncate;
    }
  }
}

.failed-to-load-text {
  @apply mb-2 text-display-300 font-semibold text-color-foreground-faint opacity-50;
}
