.hermes-form-label {
  @apply text-body-200 font-semibold flex text-color-foreground-strong;

  + .hermes-form-helper-text {
    @apply mt-1;
  }
}

.hermes-form-helper-text {
  @apply text-body-100;
}

.hermes-h4 {
  @apply text-color-foreground-faint uppercase tracking-wide font-medium text-body-100;
}

.truncated-text-container {
  @apply block font-regular text-body-100 text-color-foreground-faint;

  // These classes are applied by the TruncatedText component
  // based on its optional `startingBreakpoint` argument:

  &.default {
    @apply truncate;
  }

  &.starting-md {
    @apply md:truncate;
  }
}
