<div class="mb-5 flex w-full items-center justify-between">

  <h1>
    Product/areas
  </h1>
  <Hds::Button
    @route="authenticated.admin.product-areas.new"
    @text="+ New product/area"
  />
</div>

<table class="hds-table w-full">
  <thead>
    <tr>
      <th class="w-1/2">Name</th>
      <th class="w-1/2">Abbreviation</th>
    </tr>
  </thead>
  <tbody>
    {{#each-in this.productAreas.index as |p attrs|}}
      <tr>
        <td>
          <LinkTo
            @route="authenticated.admin.product-areas.product-area"
            @model={{p}}
            class="inner flex items-center gap-2.5"
          >
            <Product::Avatar @product={{p}} />
            {{p}}
          </LinkTo>
        </td>
        <td>
          <div class="inner">
            {{attrs.abbreviation}}
          </div>
        </td>
      </tr>
    {{/each-in}}
  </tbody>
</table>
