<div class="mb-5 flex w-full items-center justify-between">
  <h1>Doctypes</h1>
  <Hds::Button
    @route="authenticated.admin.doctypes.new"
    @text="+ New doctype"
  />
</div>
<table class="hds-table w-full">
  <thead>
    <tr>
      <th class="w-1/8">Name</th>
      <th class="w-1/4">Long name</th>
      <th class="w-1/4">Description</th>
      <th class="w-1/4">Flight Icon</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.documentTypes.index as |docType|}}
      <tr class="">
        <td>{{docType.name}}</td>
        <td>{{docType.longName}}</td>
        <td>{{docType.description}}</td>
        <td>{{docType.flightIcon}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
