<Hds::Modal @onClose={{@onClose}} as |M|>
  <M.Header>
    Add required check
  </M.Header>
  <M.Body>
    <form {{on "submit" this.submit}}>
      NEED TO MAKE A FORM
    </form>
  </M.Body>
</Hds::Modal>
