{{! TODO: add confirm-to-close function if something is typed in }}
<Hds::Modal @onClose={{@onClose}} as |M|>
  <M.Header>
    Add related link
  </M.Header>
  <M.Body>
    <form {{on "submit" this.submit}} class="pb-3">
      <Hds::Form::TextInput::Field @value="" class="mb-4" as |F|>
        <F.Label>Title</F.Label>
        <F.HelperText>
          Include the doctype name if possible, e.g., "When to write a PRFAQ"
        </F.HelperText>
      </Hds::Form::TextInput::Field>

      <Hds::Form::TextInput::Field @value="" as |F|>
        <F.Label>URL</F.Label>
      </Hds::Form::TextInput::Field>
    </form>
  </M.Body>
  <M.Footer>
    <Hds::ButtonSet>
      <Hds::Button {{on "click" this.submit}} @text="Add" />
      <Hds::Button {{on "click" @onClose}} @color="secondary" @text="Cancel" />
    </Hds::ButtonSet>
  </M.Footer>
</Hds::Modal>
