<div class="x-container mt-2 mb-4">
  <div class="relative mb-6">
    <nav class="big-tabs mb-10 flex justify-center space-x-3">

      <a class="Xoutline active flex items-center gap-2 pr-2.5 outline-black/5">
        <FlightIcon @name="grid" class="ml-2 -mr-px" />
        <div>
          Active
        </div>
      </a>
      <a
        class="Xoutline Xactive flex items-center gap-2 pr-2.5 outline-black/5"
      >
        <FlightIcon @name="check-circle" class="ml-2" />
        <div>
          Completed
        </div>
      </a>
      <a
        class="Xoutline Xactive flex items-center gap-2 pr-2.5 outline-black/5"
      >
        <FlightIcon @name="archive" class="ml-2" />
        <div>
          Archived
        </div>
      </a>
    </nav>
    {{#if @projects}}
      <ol class="relative grid grid-cols-3 gap-2">
        {{#each-in @projects as |_id project|}}
          <Project::Tile @project={{project}} />
        {{/each-in}}
      </ol>
    {{else}}
      {{! TODO: No projects state }}
    {{/if}}
  </div>
</div>
