<div class="project-resource" ...attributes>

  {{yield}}

  {{#unless @isReadOnly}}
    {{! TODO: convert to dropdown list }}
    <Action
      class="drag-handle absolute left-1 top-1 z-10 grid h-[20px] w-[20px] cursor-grab place-items-center rounded bg-red-100"
    >
      <FlightIcon @name="menu" />
    </Action>
    <OverflowMenu
      @items={{@overflowMenuItems}}
      @offset={{hash mainAxis=1 crossAxis=-3}}
    />
  {{/unless}}
</div>
