<div class="project-resource group" ...attributes>

  {{yield}}

  {{#unless @isReadOnly}}
    <OverflowMenu
      @items={{@overflowMenuItems}}
      @offset={{hash mainAxis=1 crossAxis=-3}}
    />
  {{/unless}}
</div>
