{{page-title "All Projects"}}

{{!-- <Project::List @projects={{this.model}} /> --}}

<ol>
  {{#each-in this.model as |_id project|}}
    <li data-test-project>
      {{project.title}}
    </li>
  {{/each-in}}
</ol>
