{{! @glint-nocheck - not typesafe yet}}
<FlightIcon
  data-test-x-dropdown-list-checkable-item-check
  data-test-is-checked={{@isSelected}}
  @name="check"
  class="check mr-2.5 {{if @isSelected 'visible' 'invisible'}}"
/>
<div class="x-dropdown-list-item-value">
  {{@value}}
</div>
{{#if @count}}
  <Hds::BadgeCount
    data-test-x-dropdown-list-checkable-item-count
    @text={{@count}}
    @size="small"
    class="x-dropdown-list-item-count"
  />
{{/if}}
