.subscription-list-item {
  @keyframes popoverIn {
    from {
      opacity: 0;
      transform: translateX(3px) translateY(-50%);
    }
    to {
      opacity: .75;
      transform: translateY(-50%);
    }
  }

  @keyframes popoverOut {
    from {
      opacity: .75;
      transform: translateY(-50%);
    }
    to {
      opacity: 0;
      transform: translateX(1px) translateY(-50%);
    }
  }

  .subscription-list-popover {
    @apply flex opacity-0;
    @apply absolute top-1/2 right-12;
    @apply text-body-200 text-color-foreground-faint;
    animation: popoverIn 90ms forwards cubic-bezier(0, 1, 0.65, 1) 130ms;

    &.out {
      animation: popoverOut 280ms forwards cubic-bezier(0, 1, 0.65, 1);
    }
  }
}
