{{#unless this.isHidden}}
  <div class="flex w-full space-x-2" ...attributes>
    <div class="relative shrink-0">
      <Person::Avatar @size="small" @email={{@email}} />
      {{#if (eq @badge "approved")}}
        <div
          data-test-person-approved-badge
          class="absolute -bottom-1.5 -right-1.5 flex origin-bottom-right scale-[70%] rounded-full bg-color-page-faint p-0.5"
        >
          <FlightIcon
            @name="check-circle-fill"
            class="text-color-palette-green-200"
          />
        </div>
      {{/if}}
    </div>
    <div
      data-test-person-email
      class="person-email hds-typography-body-200 hds-foreground-primary relative truncate"
      title={{this.label}}
    >
      {{this.label}}
    </div>
    {{#if false}}
      {{! TODO: this needs to optionally show a Name/Email combination rather than an either/or }}
    {{/if}}
  </div>
{{/unless}}
