name: ci

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup with node and yarn
        uses: actions/setup-node@v3
        with:
          node-version: "16"
          cache-dependency-path: "web/yarn.lock"

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "^1.18"

      - name: Build UI
        run: make ui/build

      - name: Run UI test
        run: make ui/test

      - name: Build
        run: make bin/linux

      - name: Run Go test
        run: make go/test
