name: ci

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup with node and yarn
        uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: "yarn"
          cache-dependency-path: "web/yarn.lock"

      - name: Enable Corepack and setup Yarn
        run: |
          corepack enable
          cd web
          corepack prepare yarn@$(node -p "require('./package.json').packageManager.split('@')[1]") --activate

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "^1.18"

      - name: Verify Yarn version
        run: cd web && yarn --version

      - name: Build web
        run: make web/build

      - name: Run web test
        run: make web/test

      - name: Build
        run: make bin/linux

      - name: Run Go test
        run: make go/test
